# macOS system files
.DS_Store
*.dSYM/

# ignore compiled object file
*.o

# ignore compiled executable
cache_simulator
linked_program
rahmenprogramm

# ignore local vscode settings
.vscode
.launch.json