# macOS system files
.DS_Store
*.dSYM/

# ignore compiled object file
*.o

# ignore compiled executables
cache_simulation
matrix_multiplication

# ignore local vscode settings
.vscode
.launch.json

# ignore clion settings
.idea

# ignore tracefiles
*.vcd

# ignore python vrtual environment
venv